body {
    font-family: $font;
    transition: all 0.5s;
  
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  
    // body div.dark
    // tiver um filho com a classe dark
    .dark {}
  
    // body class="dark" tiver a classe
    &.dark {
      background-color: $cor-primaria;
      color: $cor-terciaria;   
    }
  }
  
  .container {
    max-width: 2000px;
    border-width: 5px;
    border-style: solid;
    border-color: blue;
    margin-left: auto;
    margin-right: auto;
  }